div {
  text-align: center;
  font-size: 80px;
}

p {
  text-align: center;
  font-size: 50px;
}

body {
  background-color: lightgray;
}

.container {
  text-align: left;
  font-size: x-large;
  width: 100%;
}
